﻿<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8" />
        <title>Control de Articulos</title>
        <meta http-equiv="refresh" content="30">
        <link rel="stylesheet" href="lib/css/bootstrap.min.css">
        <link rel="stylesheet" href="lib/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="lib/css/animate.css">
        <link rel="stylesheet" href="lib/css/dataTables.bootstrap.min.css">
        <link href="lib/css/app.css" rel="stylesheet" />
    </head>
    <body class="bodyC">
        <div class="">
            <div class="container">
                <div class="">
                    <div ng-view></div>
                    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message" class="col-sm-6 col-sm-offset-3"></div>
                </div>
            </div>
        </div>
        
        <script src="lib/js/jquery-3.1.1.min.js"></script>
        <script src="lib/js/jquery.dataTables.min.js"></script>
        <script src="lib/js/dataTables.bootstrap.min.js"></script>
        <script src="lib/js/bootstrap.min.js"></script>
        <script src="lib/js/angular.min.js"></script>
        <script src="lib/js/angular-route.min.js"></script>
        <script src="lib/js/angular-cookies.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services/authentication.service.js"></script>
        <script src="js/services/msg.service.js"></script>
        <script src="js/services/user.service.local.storage.js"></script>
        <script src="js/services/article.service.js"></script>
        <script src="js/services/comentary.service.js"></script>
        <script src="js/controller/home.controller.js"></script>
        <script src="js/controller/login.controller.js"></script>
        <script src="js/controller/register.controller.js"></script>
    </body>
</html>


