<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Art&iacute;culos</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="#">Home</a></li>
			<li><a href="" ng-click="vieww=false">Perfil</a></li>
			<li><a href="" ng-click="vieww=true">Art&iacute;culos</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#!/login"><span class="glyphicon glyphicon-user"></span> Salir</a></li>
		</ul>
	</div>
</nav>

<div>
	<h2 class="text-left slideInDown">Bienvenido(a):{{vm.user.firstName}} {{vm.user.lastName}}! </h2>
</div>


<div ng-hide="vieww">
	<div class="col-md-6 col-md-offset-3">
		<h3>Información del Usuario</h3>
		<form name="form" ng-submit="vm.updateUser(vm.user)" role="form" class="foLog1 form-horizontal">
			<div class="form-group ">
				<div class="col-sm-12">
					<label for="id" class="col-sm-4">No. Usuario:</label>
					<div class="col-sm-2">
						<span>{{vm.user.id}}</span>
					</div>
				</div>
			</div>
	        <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
	        	<div class="col-sm-12">
	        		<label for="username" class="col-sm-4">Nombre:</label>
	        		<div class="col-sm-6">
	        			<input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
	            		<span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">Nombre Requerido</span>
	        		</div>
	        	</div>
	        </div>
	        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
	        	<div class="col-sm-12">
	        		<label for="username" class="col-sm-4">Apellido:</label>
	        		<div class="col-sm-6">
	        			<input type="text" name="lastName" id="Text1" class="form-control" ng-model="vm.user.lastName" required />
	            		<span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Apellido Requerido</span>
	        		</div>
	        	</div>
	        </div>
	        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
	        	<div class="col-sm-12">
	        		<label for="username" class="col-sm-4">Usuario:</label>
	        		<div class="col-sm-6">
	        			<input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
	            		<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Usuario requerido</span>
	        		</div>
	        	</div>
	        </div>
	        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
	        	<div class="col-sm-12">
	        		<label for="password" class="col-sm-4">Contrase&ntilde;a:</label>
	        		<div class="col-sm-6">
	        			<input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
	            		<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Contraseña requerida</span>
	        		</div>
	        	</div>
	        </div>
	        <div class="form-actions col-sm-offset-9">
	            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-default">Guardar</button>
	        </div>
	    </form>
	</div>
	<div class="table-responsive col-sm-10 col-sm-offset-1">
		<hr/>
		<h4>Para visuualizar los articulos que tiene registrados dar click en el siguiente bot&oacute;n</h4>
		<button type="button" ng-click="vm.loadArticleUser(vm.user.id); artUser=true " class="btn btn-info">Ver Articulos</button><br/><br/>
		<form ng-show="artUser">
			<br/><br/>
			<table class="table table-hover" id="Articulos">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Descripci&oacute;n</th>
						<th>Acci&oacute;n</th>
						<th>Acci&oacute;n</th>
						<th>Acci&oacute;n</th>
						<th>Acci&oacute;n</th>
						<th>Comentarios</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="arti in vm.artsInf">
						<td>{{ $index + 1 }}</td>
						<td>{{arti.nameArt}}</td>
						<td>{{arti.description}}</td>
						<td><button class="btn btn-danger" ng-click="vm.deleteArt(arti.idArt)">Eliminar</button></td>
						<td>
							<button type="button" class="btn btn-success " data-toggle="modal" data-backdrop="true" data-target="#myModal" ng-click="vm.loadCurrentArt(arti.idArt)">Editar</button>
						</td>
						<td>
							<button type="button" class="btn btn-default " data-toggle="modal" data-backdrop="true" data-target="#myComent" ng-click="vm.loadCurrentArt(arti.idArt)">Agregar Comentario</button>
						</td>
						<td>
							<button type="button" class="btn btn-info " data-toggle="modal" data-backdrop="true" data-target="#myInfo" ng-click="vm.loadCurrentArt(arti.idArt)">Detalles</button>
						</td>
						<td>
							<button type="button" class="btn btn-info " data-toggle="modal" data-backdrop="true" data-target="#myInfoCom" ng-click="vm.loadCurrentArt(arti.idArt)">Ver Comentarios</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>

<!------------------------------------------------------------------------------------------------------------------------------------------------------>

<div ng-show="vieww">
	<div class="col-md-6 col-md-offset-3">
		<h3>Alta de Art&iacute;culo</h3>
		<form name="formA" class="foLog1 form-horizontal" ng-submit="vm.registerArt()" >
			<div class="form-group ">
				<div class="col-sm-12">
					<label for="idUser" class="col-sm-4">No. Usuario:</label>
					<div class="col-sm-6">
						<input type="text" name="idUser" ng-model="vm.art.idUser = vm.user.id" class="form-control" disabled />
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': formA.nameArt.$dirty && formA.nameArt.$error.required }">
				<div class="col-sm-12">
					<label for="nameArt" class="col-sm-4">Nombre del Art&iacute;culo:</label>
					<div class="col-sm-6">
						<input type="text" name="nameArt" ng-model="vm.art.nameArt" class="form-control" required />
						<span ng-show="formA.nameArt.$dirty && formA.nameArt.$error.required" class="help-block">Nombre Requerido</span>
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': formA.description.$dirty && formA.description.$error.required }">
				<div class="col-sm-12">
					<label for="description" class="col-sm-4">Descripci&oacute;n:</label>
					<div class="col-sm-6">
						<input type="text" name="description" ng-model="vm.art.description" class="form-control" required />
						<span ng-show="formA.description.$dirty && formA.description.$error.required" class="help-block">Descripci&oacute;n Requerida</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<label for="model" class="col-sm-4">Modelo:</label>
					<div class="col-sm-6">
						<input type="text" name="model" ng-model="vm.art.model" class="form-control" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<label for="brand" class="col-sm-4">Marca:</label>
					<div class="col-sm-6">
						<input type="text" name="brand" ng-model="vm.art.brand" class="form-control" />
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': formA.price.$dirty && formA.price.$error.required }">
				<div class="col-sm-12">
					<label for="price" class="col-sm-4">Precio:</label>
					<div class="col-sm-6">
						<input type="number" name="price" ng-model="vm.art.price" class="form-control" required />
						<span ng-show="formA.price.$dirty && formA.price.$error.required" class="help-block">Precio Requerido</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<label for="color" class="col-sm-4">Colo:r</label>
					<div class="col-sm-6">
						<input type="text" name="color" ng-model="vm.art.color" class="form-control" />
					</div>
				</div>
			</div>
			<div class="checkbox">
				<label for="favorite">
					<input type="checkbox" name="favorite" ng-model="vm.art.favorite">Favorito
				</label>
			</div>
			<div class="form-actions col-sm-offset-8 col-sm-8">
	            <button type="submit" ng-disabled="formA.$invalid || vm.articleLoading" class="btn btn-default">Guardar</button>
	            <a href="#" class="btn btn-default">Inicio</a>
	        </div>
	        <br/><br/>
		</form>
	</div>
</div>

<!------------------------------------------------------------------------------------------------------------------------------------------------------>

<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog  modal-dialog-centered">
		<div class="modal-content modalC">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Editar Art&iacute;culo</h4>
			</div>
			<div class="modal-body">
				<form name="formB" ng-submit="vm.updateArt(vm.artic)" class="form-horizontal text-left">
					<div class="form-group">
						<div class="col-sm-12">
							<label for="idUser" class="col-sm-4">No. Usuario:</label>
							<div class="col-sm-2">
								<input type="text" name="idUser" ng-model="vm.artic.idUser" class="form-control" disabled />
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<label for="idArt" class="col-sm-4">No. Art&iacute;culo:</label>
							<div class="col-sm-2">
								<input type="text" name="idArt" ng-model="vm.artic.idArt" class="form-control" disabled />
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<label for="nameArt" class="col-sm-4">Nombre del Art&iacute;culo:</label>
							<div class="col-sm-6">
								<input type="text" name="nameArt" ng-model="vm.artic.nameArt" class="form-control" required />
							</div>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error': formB.description.$dirty && formB.description.$error.required }">
						<div class="col-sm-12">
							<label for="description" class="col-sm-4">Descripci&oacute;n:</label>
							<div class="col-sm-6">
								<input type="text" name="description" ng-model="vm.artic.description" class="form-control" required />
								<span ng-show="formB.description.$dirty && formB.description.$error.required" class="help-block">Descripci&oacute;n Requerida</span>
							</div>
						</div>	
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<label for="model" class="col-sm-4">Modelo:</label>
							<div class="col-sm-6">
								<input type="text" name="model" ng-model="vm.artic.model" class="form-control" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<label for="brand" class="col-sm-4">Marca:</label>
							<div class="col-sm-6">
								<input type="text" name="brand" ng-model="vm.artic.brand" class="form-control" />
							</div>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error': formB.price.$dirty && formB.price.$error.required }">
						<div class="col-sm-12">
							<label for="price" class="col-sm-4">Precio:</label>
							<div class="col-sm-6">
								<input type="number" name="price" ng-model="vm.artic.price" class="form-control" required />
								<span ng-show="formB.price.$dirty && formB.price.$error.required" class="help-block">Precio Requerido</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<label for="color" class="col-sm-4">Color:</label>
							<div class="col-sm-6">
								<input type="text" name="color" ng-model="vm.artic.color" class="form-control">
							</div>
						</div>
					</div>
					<div class="checkbox">
						<label for="favorite">
							<input type="checkbox" name="favorite" ng-model="vm.artic.favorite">Favorito
						</label>
					</div>
					<div class="form-actions col-sm-offset-10 col-sm-8">
			            <button type="submit" ng-disabled="formB.$invalid || vm.articleUpLoading" class="btn btn-default">Guardar</button>
			        </div>
			        <br/><br/>
				</form>
			</div>
		</div>
	</div>
</div>

<!------------------------------------------------------------------------------------------------------------------------------------------------------>

<div class="modal fade" id="myComent" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myComentLabel">
	<div class="modal-dialog  ">
		<div class="modal-content modalC">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Alta Comentario</h4>
			</div>
			<div class="modal-body">
				<form name="formC" ng-submit="vm.registerCom()" class="form-horizontal text-left">
					<div class="form-group ">
						<div class="col-sm-12">
							<label for="idUserC" class="col-sm-4">No. Usuario:</label>
							<div class="col-sm-2">
								<input type="text" name="idUserC" ng-model="vm.com.idUserC = vm.user.id" class="form-control" disabled>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<label for="nomUserC" class="col-sm-4">Nombre Usuario:</label>
							<div class="col-sm-6">
								<input type="text" name="nomUserC" ng-model="vm.com.nomUserC = vm.user.firstName" class="form-control" disabled>
							</div>
						</div>	
					</div>
					<div class="form-group ">
						<div class="col-sm-12">
							<label for="idArtC" class="col-sm-4">No. Art&iacute;culo:</label>
							<div class="col-sm-6">
								<input type="text" name="idArtC" ng-model="vm.com.idArtC = vm.artic.idArt" class="form-control" disabled>
							</div>
						</div>		
					</div>
					<div class="form-group" ng-class="{ 'has-error': formC.titlee.$dirty && formC.titlee.$error.required }">
						<div class="col-sm-12">
							<label for="titlee" class="col-sm-4">T&iacute;tulo:</label>
							<div class="col-sm-6">
								<input type="text" name="titlee" ng-model="vm.com.titlee" class="form-control" required>
								<span ng-show="formC.titlee.$dirty && formC.titlee.$error.required" class="help-block">T&iacute;tulo Requerido</span>
							</div>
						</div>	
					</div>
					<div class="form-group" ng-class="{ 'has-error': formC.comentary.$dirty && formC.comentary.$error.required }">
						<div class="col-sm-12">
							<label for="comentary" class="col-sm-4">Comentario:</label>
							<div class="col-sm-6">
								<textarea name="comentary" ng-model="vm.com.comentary" class="form-control" required></textarea>
								<span ng-show="formC.comentary.$dirty && formC.comentary.$error.required" class="help-block">Comentario Requerido</span>
							</div>
						</div>								
					</div>
					<div class="form-actions col-sm-offset-10">
			            <button type="submit" ng-disabled="formC.$invalid || vm.comenLoading" class="btn btn-default">Guardar</button>
			        </div>
				</form>
			</div>
		</div>
	</div>
</div>

<!------------------------------------------------------------------------------------------------------------------------------------------------------>

<div class="modal fade" id="myInfo" role="dialog">
	<div class="modal-dialog  modal-dialog-centered">
		<div class="modal-content modalC">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Detalles del Articulo</h4>
			</div>
			<div class="modal-body">
				<form name="formD" class="form-horizontal text-left">
					<div class="form-group">
						<div class="col-sm-12">
							<label for="idUser" class="col-sm-4">No. Usuario:</label>
							<div class="col-sm-2">
								<input type="text" name="idUser" ng-model="vm.artic.idUser" class="form-control" disabled />
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<label for="idArt" class="col-sm-4">No. Articulo:</label>
							<div class="col-sm-2">
								<input type="text" name="idArt" ng-model="vm.artic.idArt" class="form-control" disabled />
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<label for="nameArt" class="col-sm-4">Nombre del Art&iacute;culo:</label>
							<div class="col-sm-6">
								<input type="text" name="nameArt" ng-model="vm.artic.nameArt" class="form-control" disabled />
							</div>
						</div>
					</div>
					<div class="form-group" >
						<div class="col-sm-12">
							<label for="description" class="col-sm-4">Descripci&oacute;n:</label>
							<div class="col-sm-6">
								<input type="text" name="description" ng-model="vm.artic.description" class="form-control" disabled />
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<label for="model" class="col-sm-4">Modelo:</label>
							<div class="col-sm-6">
								<input type="text" name="model" ng-model="vm.artic.model" class="form-control" disabled />
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<label for="brand" class="col-sm-4">Marca:</label>
							<div class="col-sm-6">
								<input type="text" name="brand" ng-model="vm.artic.brand" class="form-control" disabled />
							</div>
						</div>
					</div>
					<div class="form-group" >
						<div class="col-sm-12">
							<label for="price" class="col-sm-4">Precio:</label>
							<div class="col-sm-6">
								<input type="number" name="price" ng-model="vm.artic.price" class="form-control" disabled />
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<label for="color" class="col-sm-4">Color:</label>
							<div class="col-sm-6">
								<input type="text" name="color" ng-model="vm.artic.color" class="form-control" disabled />
							</div>
						</div>
					</div>
					<div class="checkbox">
						<label for="favorite">
							<input type="checkbox" name="favorite" ng-model="vm.artic.favorite" disabled />Favorito
						</label>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!------------------------------------------------------------------------------------------------------------------------------------>

<div class="modal fade" id="myInfoCom" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myComentLabel">
	<div class="modal-dialog  ">
		<div class="modal-content modalC">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Detalle Comentario</h4>
			</div>
			<div class="modal-body">
				<form name="formC" ng-submit="vm.registerCom()" class="form-horizontal text-left">
					<div class="form-group ">
						<div class="col-sm-12">
							<label for="idUserC" class="col-sm-4">No. Usuario:</label>
							<div class="col-sm-2">
								<input type="text" name="idUserC" ng-model="vm.com.idUserC = vm.user.id" class="form-control" disabled>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<label for="nomUserC" class="col-sm-4">Nombre Usuario:</label>
							<div class="col-sm-6">
								<input type="text" name="nomUserC" ng-model="vm.com.nomUserC = vm.user.firstName" class="form-control" disabled>
							</div>
						</div>	
					</div>
					<div class="form-group ">
						<div class="col-sm-12">
							<label for="idArtC" class="col-sm-4">No. Art&iacute;culo:</label>
							<div class="col-sm-6">
								<input type="text" name="idArtC" ng-model="vm.com.idArtC = vm.artic.idArt" class="form-control" disabled>
							</div>
						</div>		
					</div>
					<div class="form-actions col-sm-offset-7">
						<button type="button" ng-click="vm.loadComByIdArt(vm.com.idArtC)" class="btn btn-default">Ver Comentarios</button>
			        </div>
			        <hr/>
			        <table class="table table-hover">
			        	<thead>
			        		<tr>
			        			<th>T&iacute;tulo</th>
			        			<th>Contenido</th>
			        			<th>Acci&oacute;n</th>
			        		</tr>
			        	</thead>
			        	<tbody>
			        		<tr ng-repeat="comenta in vm.allComen">
			        			<td>{{comenta.titlee}}</td>
			        			<td>{{comenta.comentary}}</td>
			        			<td><button class="btn btn-danger" ng-click="vm.deleteCom(comenta.idCom)">Eliminar</button></td>
			        		</tr>
			        	</tbody>
			        </table>
				</form>
			</div>
		</div>
	</div>
</div>


<script  type="text/javascript" charset="utf-8" async defer>
	$(document).ready(function() {
	    $('#Articulos').DataTable();
	});
</script>