.bodyC{
   left: 0;
   top: 10px;
   width: 100%;
   height: 100%;
   background: url(azul.jpg) no-repeat center center fixed;
   background-size: cover;
}
.paanel{
	 position: relative;
    width: 305px;
    margin: 15px auto 0 auto;
    text-align: left;

}

.box{
    position:absolute;
    height:100%;
    width:100%;
    font-family:Helvetica;
    color:#fff;
    background:rgba(0,0,0,0.13);
    padding:30px 0px;
}

.foLog{
  	position: relative;
  	margin: 150px auto;
  	background: rgba(130,130,130,.5);
  	padding: 20px 22px;
  	border: 1px solid;
 	  border-top-color: rgba(255,255,255,.4);
  	border-left-color: rgba(255,255,255,.4);
  	border-bottom-color: rgba(60,60,60,.9);
  	border-right-color: rgba(60,60,60,.4);
}


.foLog1{
    position: relative;
    margin: 18px auto;
    background: rgba(130,130,130,.5);
    padding: 20px 22px;
    border: 1px solid;
    border-top-color: rgba(255,255,255,.4);
    border-left-color: rgba(255,255,255,.4);
    border-bottom-color: rgba(60,60,60,.9);
    border-right-color: rgba(60,60,60,.4);
}


.modalC{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: url(azul.jpg) repeat center center  !important;
   background-size: cover;
}

